body
{
    font-family: OpenSans-Regular;
    background: #e9faff;
    text-align: center;
    font-size: 15px;
}

.Master
{
    width: 100%;
    background: #fff;
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    color: #555555;
    line-height: 1.2;
    border-radius: 25px;
}

.Titulo,.encabezadoEntidad
{
    color: #0000CC;
}

.Titulo:hover,.encabezadoEntidad:hover
{
    color: #f44336;
}

.Button1
{
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    border-radius: 25px;
}

.Button1:hover
{
    background-color: #008CBA;
    color: white;
}


.listadoViajes
{
    color: White;
}

.fila
{
    background-color: #0000CC;
}

.fila:hover
{
    background-color: #000066;
}

.celda
{
    width: 250px;
    padding: 10px;
    text-align: left;
}

.tablas,.tablaViaje
{
    background: #e9faff;
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    color: #555555;
    line-height: 1.2;
    border-radius: 25px;
    margin:15px;
}

.etiqueta
{
    color: #0000CC;
}

.etiqueta:hover
{
    color: #000066;
}

